name: UWS Daily Intel
on:
  schedule:
    - cron: '0 14 * * 1-5' # 9:00 AM EST
  workflow_dispatch:

jobs:
  run-intel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Tools
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run UWS Script
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          CHART_IMG_KEY: ${{ secrets.CHART_IMG_KEY}}
          FINNHUB_KEY: ${{ secrets.FINNHUB_KEY}}
        run: python uws_intel.py
